.jumbotron{
    background: url("../pc.jpg") no-repeat center center;
    color: white;
    text-shadow: 2px 1px black;
}

.equal{
    height:350px;
    box-sizing: border-box;
}

.col-sm-4, .panel{
    height:100%;
    padding-left: 0px;
    padding-right: 0px;
}
