.jumbotron{
    background: url("../pc.jpg") no-repeat center center;
    color: white;
    text-shadow: 2px 1px black;
}

.equal{
    height:200px;
    box-sizing: border-box;
}

ul>div.panel {
    height:100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 25px;
    box-sizing: border-box;
    width: 350px;
    background-color: #f5f5f5;
    /*border-bottom-color: black;
    border-right-color: black;*/
}

.vcenter {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.footer {
  display: inline-flex;
  position: relative;;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #38A8E8;
}

footer>div>p {
  padding-top: 20px;
}
